@import url('https://fonts.googleapis.com/css2?family=Comfortaa&family=Roboto:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Comfortaa', cursive;
font-family: 'Roboto', sans-serif;
}

.container{
    height: 100vh;
    background: #900C3F;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container> h1{
    padding: 1rem;
    color: #fefefe;
    font-size: 2.5rem;
    letter-spacing: 0.6rem;
    margin: 1.5rem 0;
}

.box{
    width: 25rem;
    height: 30rem;
    background: #C70039;
    box-shadow: 0 0 32px rgba(0, 0, 0, 0.6);
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}

.display{
    color: #fefefe;
    font-size: 2.8rem;
    margin: 2rem;
    position: relative;
    z-index: 1;
    padding: 1rem;
}
button{
    width: 100%;
    height: 2.5rem;
    margin: 0.6rem;
    border-radius: 1rem;
    outline: none;
    border: none;
    background: #F94C10;
    cursor: pointer;
    font-size: 30px;
}

button:hover{
    background: #F8DE22;
}

.display::before{
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: #982176;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease;
    z-index: -1;
    border-radius: 1rem;
}

.display:hover::before{
    transform: scaleX(1);
    transform-origin: right;
}